.cart-container {
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.cart-header h2 {
  font-size: 1.5rem;
  color: #333;
}

.close-cart-btn {
  padding: 8px 16px;
  background-color: #ff4444;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cart-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin-right: 10px;
}

.cart-item-info h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

.item-price {
  color: green;
  font-weight: bold;
}

.remove-btn {
  background-color: #ff4444;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pay-now-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.payment-container {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.payment-header {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.payment-options div {
  margin-bottom: 15px;
}

.payment-options input {
  margin-right: 10px;
}

.pay-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
