@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  min-height: 100vh; /* Ensures full screen coverage */
  margin: 0;
  padding: 0;
  display: flex; /* Helps in centering content if needed */
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #a85d4b, #3d81f5);
  overflow-x: hidden;
}
